.profile__title {
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  font-size: 42px;
  max-width: 294px;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 25px 18px 9px 0;
}

@media screen and (max-width: 385px) {
  .profile__title {
    font-size: 35px;
    line-height: 37px;
    margin-right: 9px;
  }
}

@media screen and (max-width: 320px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 2px 0 8px 27px;
  }
}